@{
    ViewBag.Title = "Contact";
}
<h2 class="text-bg-danger text-center fw-bold">@ViewBag.Title</h2>

<address>
    Blantyre<br />
    M1,  Likhubula<br />
    <abbr title="Phone">P:</abbr>
    +265 88 044 3333
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mphatsos45@gmai.com">mphatsos45@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:mphatsos45@gmail.com">mphatsos45@gmail.com</a>
</address>